.container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 5px;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.username {
    color: black;
    justify-self: center;
}

.header {
    text-decoration: none;
    color: black;
}

.time {
    margin-left: 5px;
    color: darkgray;
    font-size: small;
}

.thumbContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
}